
<nav class="bg-black-primary text-white p-4 flex flex-row items-center justify-between ">
  <a class="navbar-brand" routerLink="">
      <img src="../../assets/International_Pokémon_logo 2.png" alt="Logo Streaming">
  </a>
  <div [ngClass]="{'show': isNavbarOpen}">
      <ul class="md:flex hidden flex-row items-center justify-between gap-4">
        <li >
            <a routerLink="" class="hover:text-yellow" routerLinkActive="text-yellow" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li >
            <a routerLink="/my-decks" class="hover:text-yellow" routerLinkActive="text-yellow">Meus baralhos</a>
        </li>
        <li >
            <a routerLink="/new-deck" class="hover:text-yellow" routerLinkActive="text-yellow">Criar novo baralho</a>
        </li>
    </ul>
  </div>
  <button class=" md:hidden my-auto ml-auto block cursor-pointer pr-4" (click)="toggleNavbar()">
    <div id="mobile-menu-button">
      <div class="h-1 w-8 rounded-full bg-white"></div>
      <div class="h-1 w-8 rounded-full bg-white mt-1"></div>
      <div class="h-1 w-8 rounded-full bg-white mt-1"></div>
    </div>
  </button>
  <!-- <div class="btns">
    <button class="icon" type="submit"><span class="material-symbols-outlined">
      search
      </span></button>
    <button class="btn-secondary hide-btn" type="button">Sign Up</button>
    <button class="btn-primary hide-btn" type="button">Login</button>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div> -->

</nav>

