<app-navbar></app-navbar>
<div style="height: calc(100vh - 250px);">
  <header class="bg-black-primary text-white flex flex-row justify-center p-4 rounded mt-8 items-center mx-4">
    <div class="flex flex-col items-center gap-3">
      <h1 class="text-4xl ">Bem-vindo ao Pokémon Deck Builder</h1>
      <div class="flex flex-row align-middle gap-4">
        <button class="rounded bg-blue border-blue border-2 p-2 outline-none"><a routerLink="/new-deck">Criar Baralho</a></button>
        <button class="rounded  border-white border-2 p-2 outline-none hover:border-none"><a routerLink="/my-decks">Ver meus baralhos</a></button>
      </div>
    </div>
  </header>

  <main class="flex flex-col gap-6 p-4" style="height:inherit;">
    <app-filter [subtypes]="subtypes" [supertypes]="supertypes" [types]="types"
    (searchTermChange)="onSearchTermChange($event)"
    (filterChange)="onFilterChange($event)"></app-filter>
    <div class="flex flex-wrap flex-row justify-evenly align-top gap-2 custom-scrollbar overflow-y-auto" >
      <img
      (mouseover)="showCardDetail(card.imageLarge)"
      (mouseleave)="hideCardDetail()"
      class="w-40 h-auto" *ngFor="let card of filteredCards" [src]="card.imageSmall" [alt]="card.name">
      <div *ngIf="cardToShow" class="absolute inset-0 top-0 right-14 flex justify-center items-center">
        <div class="p-4 shadow-md">
          <img class="w-72 h-auto" [src]="cardToShow" alt="Imagem da carta">
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="flex flex-col gap-6 mx-auto my-auto pl-4 w-fit">
      <img class="w-72" src="../../../assets/Characters_walk.gif" alt="Carregando cartas...">
      <p class="text-center">Carregando cartas...</p>
    </div>

    <div *ngIf="!isLoading && filteredCards.length === 0" class="flex flex-col items-center gap-6 mx-auto my-auto pl-4 w-fit">
      <img class="w-28" src="../../../assets/Sleeping_pokemon.gif" alt="Carregando cartas...">
      <p class="text-center">Nenhum resultado encontrado para essa busca</p>
    </div>
  </main>
</div>





