
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Signika Negative", sans-serif !important;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #1F1F1F;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #F5F5F5;
  }
}

@media (min-width: 768px) {
  .custom-md-height {
    height: calc(100vh - 88px);
  }
}


.igx-dialog{
  margin: 0 10px;
  .igx-button--flat {
    color: #2E6EB5 !important;
    background-color: transparent !important;
    &:hover{

      color: #E6BC2F !important;
      background-color: transparent !important;
    }
  }
}

.igx-snackbar__button{
  color:#E6BC2F !important;
  &:hover{
    color:#E6BC2F !important;
  }
}




